.tocar {
    background-color: #574343;
    max-width: calc(100vw - (100vw - 100%));
    height: 97.6vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../imgs/backJogar.jpg');
    background-size: cover;
}

.total {
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

.inst {
    font-size: 1.0em;
    margin-top: 0;
    margin-bottom: 0;
}

.instTit {
    margin-bottom: 10px;
    font-weight: 600;
}

.lines {
    margin-bottom: 5px;
}

.violino {
    top: 0px;
    left: 0px;
    width: 95vw;
    display: flex;
    align-items: center;
}

.imgV {
    width: 100%;
}

.imgA {
    position: absolute;
    width: 60%;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    margin-left: -710px;
    margin-top: 0px;
}

.ponto {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    border: 1px solid whitesmoke;
    background-color: black;
}

@-webkit-keyframes subir {
    to {
        margin-left: -910px;
        margin-top: -200px;
    }
}

@-webkit-keyframes descer {
    from {
        margin-left: -910px;
        margin-top: -200px;
        ;
    }
    to {
        margin-left: -710px;
        margin-top: 10px;
        ;
    }
}